In [1]:
import pandas as pd
import numpy as np

# 传入列表

## 一维列表

- 生成1列，index和column默认为数字
- 若想生成一行，可使用转置
- 若想自定义列名, 可传入columns参数, 列表形式

In [2]:
data = [1, 2, 3]

pd.DataFrame(data)

   0
0  1
1  2
2  3

In [3]:
data = [1, 2, 3]

pd.DataFrame(data).T

   0  1  2
0  1  2  3

In [4]:
data = [1, 2, 3]

pd.DataFrame(data, columns=['a'])

   a
0  1
1  2
2  3

## 二维列表

- 内层每一个列表为一行
- index和column默认为数字

In [5]:
data = [[1, 2, 3], [4, 5, 6]]

pd.DataFrame(data)

   0  1  2
0  1  2  3
1  4  5  6

# 传入字典

- 字典的key为DataFrame的列名，index默认为数字
- 字典的value为每一列的值
- 字典的value可以是list，array，series

In [6]:
data = {
    'a':[1, 2, 3],
    'b':[4, 5, 6],
    'c':[7, 8, 9]    
}

pd.DataFrame(data)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [7]:
data = {
    'a':np.random.rand(3),
    'b':np.random.rand(3),
    'c':np.random.rand(3)
}

pd.DataFrame(data)

          a         b         c
0  0.200655  0.394850  0.932272
1  0.955914  0.168553  0.190912
2  0.071563  0.786658  0.643361

In [8]:
pd.Series(np.random.rand(2))

0    0.143111
1    0.930517
dtype: float64

In [9]:
data = {
    'a':pd.Series(np.random.rand(2)),
#     'b':pd.Series(np.random.rand(3)),
}

pd.DataFrame(data)

          a
0  0.298888
1  0.666686

# 传入array

- 二维array的每一行为DataFrame的行
- 一维array的每个值为一行，生成一列

In [10]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [11]:
pd.DataFrame(np.arange(9).reshape(3,3))

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [12]:
pd.DataFrame(np.arange(3))

   0
0  0
1  1
2  2

# 列表中的字典

- 字典的key为DataFrame的列名

In [13]:
data = [{"one":1,"two":2},
        {"one":5,"two":10,"three":15}]

pd.DataFrame(data)

   one  two  three
0    1    2    NaN
1    5   10   15.0

# 字典中的字典

- 外层字典的key为DataFrame的列名
- 内层字典的key为DataFrame的index

In [14]:
data = {
    "Jack":{"math":90, "english":89, "art":78},
    "Marry":{"math":82, "english":95, "art":96},
    "Tom":{"math":85, "english":94}
}

pd.DataFrame(data)

         Jack  Marry   Tom
math       90     82  85.0
english    89     95  94.0
art        78     96   NaN