`DataFrame.select_dtypes(include=None, exclude=None)`

- 数值型，np.number或'number'
- 类别型，np.object
- 布尔型，'bool'
- float型，'float'

## 选取数字型

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3,
                   'd': ['A', 'B'] * 3})
df.select_dtypes(np.number)

   a    c
0  1  1.0
1  2  2.0
2  1  1.0
3  2  2.0
4  1  1.0
5  2  2.0

## 选取类别型

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3,
                   'd': ['A', 'B'] * 3})
df.select_dtypes(np.object)

   d
0  A
1  B
2  A
3  B
4  A
5  B

## 排除布尔型

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3,
                   'd': ['A', 'B'] * 3})
df.select_dtypes(exclude='bool')

   a    c  d
0  1  1.0  A
1  2  2.0  B
2  1  1.0  A
3  2  2.0  B
4  1  1.0  A
5  2  2.0  B