# pandas.DataFrame.drop

`DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')`

- labels: single label or list-like, 需要删除的index或列
- axis: {0 or ‘index’, 1 or ‘columns’}, default 0, 默认按行
- index: 行index，axis=0 相当于 index=labels
- columns: 列名，axis=1 相当于 columns=labels
- inplace: False 返回一个副本，True直接更改原数据

## 删除单列

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df.drop('A', axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

## 删除多列

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df.drop(['A', 'B'], axis=1)

    C   D
0   2   3
1   6   7
2  10  11

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df.drop(columns=['A', 'B'])

    C   D
0   2   3
1   6   7
2  10  11

## 删除单行

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df.drop(0)

   A  B   C   D
1  4  5   6   7
2  8  9  10  11

## 删除多行

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df.drop([0, 1])

   A  B   C   D
2  8  9  10  11

## 按条件删除行

In [13]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df.drop(df[df['D']==3].index)

   A  B   C   D
1  4  5   6   7
2  8  9  10  11